 * {
  background-color: #F2F2F2;
  font-family: 'roboto', sans-serif;
  outline: none;
}

.top-bar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  align-items: flex-start;
  display: flex;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 60%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background-color: #FFFFFF;
  border: 2px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 150px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  background-color: #FFFFFF;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 50%;
  display: block;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}


.item .item__add {
  background-color: #E02B04;
  border: 1px solid white;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  margin: 0;
  padding: 6px;
  color: white;
  font-weight: 600;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  align-items: center;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}

.empty-cart {
  border: none;
  color: #E02B04;
  border: 1px solid #E02B04;
  border-radius: 7px;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.empty-cart:hover {
  background-color: #E02B04;
  color: white;
}

.loading {
  margin-top: 50px;
  font-size: 20px;
  background-color: #F2F2F2;
}

.empty-cart:active {
  padding: 16px 20px;
  border-radius: 13px;
}

.empty-cart:focus {
  outline: none;
}

.cart__item {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.div__cart__item {
  display: flex;
}
.div__cart__item > img {
  height: 120px;
}
.div__cart__item > .button__remove__item__cart {
  height: 30px;
  background-color: white;
  align-self: flex-start;
  opacity: 0.6;
}

li {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}
li, div{
  background-color: white;
}

.search__form {
  margin: 15px 20px 15px 40px;
  display: flex;
}

.img__icon {
  height: 40px;
  margin-right: 150px;
}

.input__search {
  border: 1px black solid;
  border-radius: 15px;
  padding: 7px 20px;
  width: 303px;
  margin-right: 10px;
}

.submit__search {
  border: 1px white solid;
  border-radius: 15px;
  background-color: #E02B04;
  padding: 7px 20px;
  color: white;
  font-weight: 600;
  transition: 0.3s
}

.submit__search:hover {
  color: #E02B04;
  border: #E02B04 1px solid;
  background-color: transparent;
}

.price__container {
  font-weight: 600;
}

.cart__items {
  padding: 2px;
}