* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.hr { 
  opacity: 0.3;
  border: #8AD91C 1px solid;
  margin: 0 40vh 8vh 40vh;
}

.ul-img {
  list-style-type: none;  
}

section:nth-child(1) {
  background-color: rgb(24, 24, 24);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left:20vw ;
}

h1 {
  font-size: 90px;
  margin-bottom: 10px;
  color: #7F56CC;
}

h1 span {
  color: #8AD91C;
}

h3 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
}

h4 {
  color: #8AD91C;
  text-align: center;
  padding-bottom: 5vh;
}

.about-me-title, .content-width {
  color: #7F56CC;
  font-size: 30px;
  padding: 0 20vw;
  background-color: rgb(17, 16, 16);
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-title, .skills-title{
  padding: 8vh 0;
  text-align: center;
}

p {
  font-size: 1.5rem;
  line-height: 40px;
  font-weight: 300;
  color: white;
  text-align: center;
}

.ul-img {
  padding: 15% 0;
  display: flex;
  min-width: 100%;
  flex-wrap: wrap;
}

.img-container {
  width: 100%
}

li {
  height: 100px;
  width: 50px;
  padding: 1px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.img-container ul .small {
  flex-basis: 40%;
}

.img-container ul .large {
  flex-basis: 60%;
} 

.container-skills {
  color: #7F56CC;
  font-size: 30px;
  padding: 0 20vw;
  background-color: rgb(0, 0, 0);
}

.hard-skills-container, .soft-skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 8vh 0 18vh 0;
}

.div-hard-skills{
  padding: 20px;
  background-color: #d4b4da;
  box-shadow: 7px 7px  #d4d4d4;
  border-radius: 10px;
}

.div-soft-skills {
  max-width: min-content;
  padding: 20px;
  background-color: #d4b4da;
  box-shadow: 7px 7px  #d4d4d4;
  border-radius: 10px;
  margin: 4vh 3vh;
}

.div-hard-skills p, .div-soft-skills p, .contact-container nav ul li {
  color: rgb(78, 78, 78);
  font-weight: 600;
}

img {
  width: 10vw;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

.contact-container{
  position: sticky;
  background-color: rgb(24, 24, 24) ;
}

.contact-container nav ul {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
}

.contact-container nav ul li {
  list-style-type: none;  
  height: fit-content;
  padding: 5vh 0;
}

.contact-container nav ul li:nth-child(1):hover {
  color: #0077B5;
}

.contact-container nav ul li:nth-child(2):hover {
  color: #E46047;
}
